body {
    
    background: #efefef;
    text-align: center;
  }


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin: 0px;
    

}

h1{
    color: #fff;

    
}

.upload-btn {
margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #337ab7;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: #286090;
}

.upload-btn input[type="file"] {
    display: none;
}
.button{
    padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
              
}
.container{
 
    background-color: #337ab7;
    height: 5vh;
}